[submodule "eve_rl"]
	path = eve_rl
	url = https://github.com/arjkrishna/eve_rl.git
[submodule "eve_bench"]
	path = eve_bench
	url = https://github.com/arjkrishna/eve_bench.git
[submodule "eve"]
	path = eve
	url = https://github.com/arjkrishna/eve.git
